<div class="styleCustodiosComite">
    <br>
    <div class="row">
        <div class="col">
            <img *ngIf="ocultarLogo" src="./assets/logo_loreto.png" alt="image" style="width: 130px; height: 130px;">
            <img *ngIf="!ocultarLogo" src="./assets/logo_infractor.png" alt="image" style="width: 130px; height: 130px;">
        </div>
        <div class="col">
            <span *ngIf="ocultarLogo" class="login100-form-title p-b-51">
                REGISTRO DE CUSTODIOS DEL PATRIMONIO FORESTAL Y DE FAUNA SILVESTRE DE LORETO
            </span>
            <span *ngIf="!ocultarLogo" class="login100-form-title p-b-51">
                REGISTRO DE CUSTODIOS DEL PATRIMONIO FORESTAL Y DE FAUNA SILVESTRE DE UCAYALI
            </span>
        </div>
        <div class="col text-right">
            <img *ngIf="ocultarLogo" src="./assets/slogan_loreto.png" alt="image" style="width: 250px; height: 100px;">
                    <img *ngIf="!ocultarLogo" src="./assets/logo_ucayali.png" alt="image" style="width: 250px; height: 100px;">
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <button (click)="cerrarSession()" class="btn btn-secondary" type="button">
                <i class="fa fa-power"> </i>
                CERRAR SESIÓN
            </button>

        </div>
        <hr>

    </div>

    <h2>Custodios por Comité</h2>

    <div class="row text-right">
        <div class="col">
            <button type="button" (click)="regresar()" class="btn btn-danger">
                <i class="fa fa-arrow-left"></i>
                Regresar
            </button>
        </div>
    </div>
    <hr>
    <div class="row" *ngIf="accion_custodio != 'V'">
        <!-- text-right -->
        <div class="col text-right" *ngIf="renovacionComite.estado != 0">
            <button type="button" (click)="nuevoCustodio()" class="btn btn-primary">
                <i class="fa fa-plus"> </i>
                Nuevo Custodio
            </button>
        </div>
    </div>
    <table class="table mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombres</th>
                <th scope="col">DNI</th>
                <th scope="col" *ngIf="ocultarLogo">ESTADO</th>
                <!-- <th scope="col">FECHA CAPACITACIÓN</th> -->
                <th scope="col" >ACCIÓN</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let custodio of custodios ">
                <td>{{ custodio.nombre + ' ' + custodio.apellidos }}</td>
                <td>{{ custodio.dni }}</td>
                <!--INICIO: Solo ocurrira uno de los cuatro casos-->
                <div *ngIf="ocultarLogo">
                    <td *ngIf="custodio.flagAcreditado == 1 && custodio.flagReconocido == 1">Reconocido / Acreditado</td>
                    <td *ngIf="custodio.flagAcreditado == 1 && custodio.flagReconocido == 0">Acreditado</td>
                    <td *ngIf="custodio.flagAcreditado == 0 && custodio.flagReconocido == 1">Reconocido</td>
                    <td *ngIf="custodio.flagAcreditado == 0 && custodio.flagReconocido == 0"></td>
                </div>
                
                <!--FIN: Solo ocurrira uno de los cuatro casos-->

                <td *ngIf="accion_custodio != 'V'">
                    <button *ngIf="renovacionComite.estado != 0" class="btn btn-info mr-1" (click)="verCustodio(custodio)"> <i class="fa fa-pencil"></i></button>
                    <button *ngIf="renovacionComite.estado == 0" class="btn btn-info mr-1" (click)="verCustodio(custodio)"> <i class="fa fa-eye"></i></button>
                    <button *ngIf="custodio.estado == 1 && renovacionComite.estado != 0" class="btn btn-danger mr-1" type="button" (click)="desactivarCustodio(custodio)"> <i class="fa fa-trash"></i></button>
                    <button *ngIf="custodio.estado == 0 && renovacionComite.estado != 0" class="btn btn-primary mr-1" type="button" (click)="activarCustodio(custodio)"> <i class="fa fa-check"></i></button>
                </td>
                <td *ngIf="accion_custodio == 'V'">
                    <button class="btn btn-info mr-1" (click)="verCustodio(custodio)"> <i class="fa fa-eye"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator [length]="totalRegistros" [pageSize]="regxpag" hidePageSize showFirstLastButtons (page)="paginar($event)">
    </mat-paginator>
</div>