
<div class="wrapper fadeInDown" style="background-color: #56baed ;">
    <div id="formContent">
        <!---Icon -->
        <div class="fadeIn first">
            <img src="./assets/logo_gobierno_regional_loreto.png" alt="image" style="margin-top: 10px; width: 300px;">
        </div>
        <div class="fadeIn first">
            <!--img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /-->
            <img src="./assets/slogan_loreto.png" alt="image" id="icon" style="width: 450px; height: 150px;">
        </div>
        <span class="fadeIn first text">
            REGISTRO DE CUSTODIOS DEL PATRIMONIO FORESTAL Y DE FAUNA SILVESTRE DE LORETO
         </span>
        <!-- Login Form -->
        <form (ngSubmit)="login( f )" #f="ngForm">

            <span *ngIf="f.submitted && f.controls['username'].errors" class="text-danger animated fadeIn">
            El usuario es obligatorio
            </span>
            <input id="login" class="fadeIn second" required type="text" name="username" required placeholder="Username" [(ngModel)]="usermodel.usuario">

            <br>
            <span *ngIf="f.submitted && f.controls['pass'].errors" class="text-danger animated fadeIn">
                La clave es obligatoria
            </span>
            <input type="password" id="password" class="fadeIn third" name="pass" required placeholder="Password" [(ngModel)]="usermodel.clave">

            <input *ngIf="!ocultarBtnGuardar" type="submit" class="fadeIn fourth" value="INGRESAR">
            <br>
            <div id="formFooter">
             <a class="underlineHover" [routerLink]="['/consulta-publica-loreto']">Consulta Pública</a>
            </div>
        </form>

        
    </div>
</div>