<div class="styleTitulares">

    <br>
    <div class="row">
        <div class="col">
            <img *ngIf="ocultarLogo" src="./assets/logo_loreto.png" alt="image" style="width: 130px; height: 130px;">
            <img *ngIf="!ocultarLogo" src="./assets/logo_infractor.png" alt="image" style="width: 130px; height: 130px;">
        </div>
        <div class="col">
            <span *ngIf="ocultarLogo" class="login100-form-title p-b-51">
                REGISTRO DE CUSTODIOS DEL PATRIMONIO FORESTAL Y DE FAUNA SILVESTRE DE LORETO
            </span>
            <span *ngIf="!ocultarLogo" class="login100-form-title p-b-51">
                REGISTRO DE CUSTODIOS DEL PATRIMONIO FORESTAL Y DE FAUNA SILVESTRE DE UCAYALI
            </span>
        </div>
        <div class="col text-right">
            <img *ngIf="ocultarLogo" src="./assets/slogan_loreto.png" alt="image" style="width: 250px; height: 100px;">
            <img *ngIf="!ocultarLogo" src="./assets/logo_ucayali.png" alt="image" style="width: 250px; height: 100px;">
        </div>
    </div>
    <div class="row" *ngIf="accion_titular!='V'">
        <div class="col text-right">
            <button (click)="cerrarSession()" class="btn btn-secondary" type="button">
                <i class="fa fa-power"> </i>
                CERRAR SESIÓN
            </button>

        </div>
        <hr>

    </div>

    <h2>Título Habilitante / Comité de Vigilancia</h2>

    <div class="row text-right">
        <div class="col">
            <button type="button" (click)="regresar()" class="btn btn-danger">
                <i class="fa fa-arrow-left"></i>
                Regresar
            </button>
        </div>
    </div>

    <form autocomplete="off" [formGroup]="formTitulares" class="formulario">
        <mat-tab-group>
            <mat-tab label="Titular">
                <br>
                <div class="row" style="padding: 10px 10px 10px 10px;">
                    <div class="col-md-4">
                        <label class="form_label">Tipo de Custodio</label>
                        <select class="form-control" (change)="onSelectTipoCustodio($event)" formControlName="tipoCustodio" name="tipoCustodio"> 
                            <option *ngFor="let tipoCustodio of dominioTipoCustodio" value={{tipoCustodio.codigoDetalle}}>
                                {{tipoCustodio.valorDetalle}}
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <div *ngIf="custodioSelected === '01' ">
                    <h4>Datos del Título Habilitante</h4>
                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-6">
                            <label class="form_label">Nro. Título Habilitante</label>
                            <input type="text" class="form-control form-imput" formControlName="nroTituloHabilitante" name="nroTituloHabilitante" maxlength="60">
                        </div>

                        <div class="col-md-6">
                            <label class="form_label">Nombre del Título Habilitante</label>
                            <input type="text" class="form-control" formControlName="nombreTituloHabilitante" name="nombreTituloHabilitante" maxlength="150">
                        </div>
                    </div>
                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-4">
                            <label class="form_label">Nombre del titular del título habilitante</label>
                            <input type="text" class="form-control" formControlName="nombreTitularComunidad" name="nombreTitularComunidad" maxlength="30">
                        </div>
                        <div class="col-md-4">
                            <label class="form_label">Tipo Persona</label>
                            <select class="form-control" (change)="onSelectTipoPersona($event)" formControlName="tipoPersona" name="tipoPersona"> 
                                <option *ngFor="let tipoPersona of dominioTipoPersona" value={{tipoPersona.codigoDetalle}}>
                                    {{tipoPersona.valorDetalle}}
                                </option>
                            </select>

                        </div>
                        <div class="col-md-4">
                            <label class="form_label">DNI o RUC</label>
                            <input type="text" appOnlyInteger class="form-control" formControlName="dniRucTitular" name="dniRucTitular" maxlength="11">
                        </div>
                    </div>

                    <div class="row" style="padding: 10px 10px 10px 10px;" *ngIf="selectedTipoPersona==='02'">
                        <div class="col-md-6">
                            <label class="form_label">Nombre Representante Legal</label>
                            <input type="text" class="form-control form-imput" formControlName="nombreRepLegal" name="nombreRepLegal" maxlength="30">
                        </div>

                        <div class="col-md-6">
                            <label class="form_label">Ruc Representante Legal</label>
                            <input type="text" class="form-control" appOnlyInteger formControlName="dniRucRepLegal" name="dniRucRepLegal" maxlength="11">
                        </div>
                    </div>
                </div>
                <div *ngIf="custodioSelected==='01'">
                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-4">
                            <label class="form_label">Departamento</label>
                            <select class="form-control" (change)="onSelectDepartamento($event)" formControlName="departamento" name="departamento">
                                <option *ngFor="let departamento of dominioDepartamentos" value={{departamento.departamento}}>
                                    {{departamento.nombre}}
                                </option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form_label">Provincia</label>
                            <select class="form-control" (change)="onSelectProvincia($event)" formControlName="provincia" name="provincia">
                                <option *ngFor="let provincias of dominioProvincias" value={{provincias.provincia}}>
                                    {{provincias.nombre}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form_label">Distrito</label>
                            <select class="form-control" (change)="onSelectDistrito($event)" formControlName="distrito" name="distrito"> 
                                <option *ngFor="let distritos of dominioDistritos" value={{distritos.ubigeoId}}>
                                    {{distritos.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <!--div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-4">
                            <label class="form_label">Distrito Dos</label>
                            <select class="form-control" (change)="onSelectDistrito($event)" formControlName="distritoDos" name="distritoDos"> 
                                <option *ngFor="let distritos2 of dominioDistritos" value={{distritos.ubigeoId}}>
                                    {{distritos2.nombre}}
                                </option>
                            </select>
                        </div>
                    </div-->

                </div>
                <div *ngIf="custodioSelected==='02'">
                    <h2>Datos de la Comunidad</h2>
                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-4">
                            <label class="form_label">Nombre de la Comunidad</label>
                            <input type="text" class="form-control" formControlName="nombreTitularComunidad" name="nombreTitularComunidad" maxlength="30">
                        </div>

                        <div class="col-md-4">
                            <label class="form_label" *ngIf="!ocultarLogo">Extension</label>
                            <label class="form_label" *ngIf="ocultarLogo">Superficie (Ha)</label>
                            <input type="text" class="form-control" formControlName="extension" name="extension" maxlength="150">
                        </div>

                        <div class="col-md-4">
                            <label class="form_label">Sector</label>
                            <input type="text" class="form-control" formControlName="ambitoTerritorial" name="ambitoTerritorial" maxlength="150">
                        </div>
                    </div>
                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-4">
                            <label class="form_label">Departamento</label>
                            <select class="form-control" (change)="onSelectDepartamento($event)" formControlName="departamento" name="departamento">
                                <option *ngFor="let departamento of dominioDepartamentos" value={{departamento.departamento}}>
                                    {{departamento.nombre}}
                                </option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form_label">Provincia</label>
                            <select class="form-control" (change)="onSelectProvincia($event)" formControlName="provincia" name="provincia">
                                <option *ngFor="let provincias of dominioProvincias" value={{provincias.provincia}}>
                                    {{provincias.nombre}}
                                </option>
                            </select>
                        </div>
                        
                        <div class="col-md-2" *ngIf="ocultarLogo">
                            <label class="form_label">Distrito</label>
                            <select class="form-control" (change)="onSelectDistrito($event)" formControlName="distrito" name="distrito"> 
                                <option *ngFor="let distritos of dominioDistritos" value={{distritos.ubigeoId}}>
                                    {{distritos.nombre}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2" *ngIf="ocultarLogo">
                            <label class="form_label">Otro Distrito</label>
                            <select class="form-control" (change)="onSelectDistritoOtro($event)" formControlName="distritoOtro" name="distritoOtro"> 
                                <option *ngFor="let distritos of dominioDistritos" value={{distritos.ubigeoId}}>
                                    {{distritos.nombre}}
                                </option>
                            </select>
                        </div>
                    
                    
                        <div class="col-md-4"*ngIf="!ocultarLogo">
                            <label class="form_label">Distrito</label>
                            <select class="form-control" (change)="onSelectDistrito($event)" formControlName="distrito" name="distrito"> 
                                <option *ngFor="let distritos of dominioDistritos" value={{distritos.ubigeoId}}>
                                    {{distritos.nombre}}
                                </option>
                            </select>
                        </div>
                        
                        
                    </div>

                </div>
                <div class="row" *ngIf="ocultarLogo" style="padding: 10px 10px 10px 10px;">
                    <div class="col-md-4" *ngIf="titular.nombreAdjuntoContrato === '' && accion_titular!='V' " >
                        <label class="form_label">Adjuntar Contrato:</label>
                        <!--label class="form_label">Adjuntar carnet de acreditación:</label-->
                    </div>
                    <div class="col-md-4" *ngIf="titular.nombreAdjuntoContrato === '' && accion_titular!='V' " >
                        <input type="text" class="form-control" formControlName="adjuntodoccontrato" name="adjuntodoccontrato">
                    </div>
                    <div class="col-md-4" *ngIf="titular.nombreAdjuntoContrato === '' && accion_titular!='V' " >
                        <div style="display: grid; grid-template-columns: 50px 500px ">
                            <div>
                                <mat-icon (click)="elegirArchivoContrato()" style="font-size: 33px; cursor: pointer;" color="warn" matTooltip="Cargar archivo" matTooltipClass="tooltip-red">add_circle</mat-icon>
                                <input #btnselectContrato style="display: none;" (change)="seleccion_archivo_contrato($event)" type="file">
                            </div>
                            <div>
                                <button type="button" class="btn btn-success" mat-raised-button (click)="guardarDocumentoContrato()">Subir Archivo</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8" style="margin-left: 10px;" *ngIf="titular.nombreAdjuntoContrato != ''" >
                        
                        <label class="form_label">Archivo adjunto - Contrato :</label>
                        <!--label class="form_label">Archivo adjunto - Carnet de acreditación:</label-->
                    </div>
                </div>
                <div class="row" *ngIf="ocultarLogo">
                    <div class="col-md-4" style="background: #8A9597; margin-left: 30px;" *ngIf="titular.nombreAdjuntoContrato != ''">
                        {{ titular.nombreAdjuntoContrato }}
                    </div>
                    <div class="col-md-3" *ngIf="titular.nombreAdjuntoContrato != '' && accion_titular!='V'"> <!-- -->
                        <button class="btn btn-info mr-1" (click)="descargarDocumentoContrato()"> <i class="fa fa-download"></i></button>
                        <button class="btn btn-danger mr-1" type="button" (click)="eliminarDocumentoContrato()" *ngIf="accion_titular!='V' && titular.estado != 0"> <i class="fa fa-trash"></i></button><!--   -->
                    </div>
                    <div class="col-md-3" *ngIf="titular.nombreAdjuntoContrato != '' && accion_titular=='V'"> <!-- -->
                        <button class="btn btn-info mr-1" (click)="descargarDocumentoContrato()"> <i class="fa fa-download"></i></button>
                    </div>
                </div>
                <br>
                <div class="row" style="padding: 10px 10px 10px 10px;">
                    <div class="col-md-4">
                        <label class="form_label">Correo del titular del título habilitante</label>
                        <input type="text" class="form-control" formControlName="correoTitular" name="correoTitular" maxlength="150">
                    </div>

                    <div class="col-md-4">
                        <label class="form_label">Número celular de contacto</label>
                        <input type="text" class="form-control" formControlName="celularTitular" name="celularTitular" maxlength="20">
                    </div>

                    <div class="col-md-4">
                        <label class="form_label">Fecha Actualización del registro</label>
                        <input type="date" data-date-format="yyyy-dd-MM" class="form-control" formControlName="fechaActualizacion" name="fechaActualizacion" maxlength="10">
                    </div>
                </div>
                <br>
                <div *ngIf="ocultarLogo" class="row" style="padding: 10px 10px 10px 10px;">
                    <div class="col-md-4">
                        <label class="form_label">Cuenca</label>
                        <input type="text" class="form-control" formControlName="cuenca" name="cuenca" maxlength="150">
                    </div>

                    <div class="col-md-4">
                        <label class="form_label">Cesión en uso(Ha)</label>
                        <input type="text" class="form-control" formControlName="cesionEnUso" name="cesionEnUso" maxlength="150">
                    </div>
                    
                    <div class="col-md-4">
                        <label class="form_label">Número de contrato</label>
                        <input type="text" class="form-control" formControlName="numeroContrato" name="numeroContrato" maxlength="20">
                    </div>
                </div>
                <br>
                <div class="col" *ngIf="accion_titular!='V'">
                    <div class="form-group text-right">
                        <button *ngIf="!ocultarBtnGuardar" type="button" (click)="guardar()" class="btn btn-primary w-25">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                    </div>
                </div>
                <br>
                <br>
            </mat-tab>
            <mat-tab label="Títulos Habilitante" *ngIf="custodioSelected==='02' && titular.titularId!=0">
                <br>
                <div class="row " *ngIf="accion_titular!='V'">
                    <!-- text-right -->
                    <div class="col text-right">
                        <button type="button" class="btn btn-primary" (click)="nuevaComunidad()">
                            <i class="fa fa-plus"> </i>
                            Agregar
                        </button>
                    </div>
                </div>
                <table class="table mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nro Titulo Habilitante</th>
                            <th scope="col">Periodo Inicio</th>
                            <th scope="col">Periodo Fin</th>
                            <th scope="col" *ngIf="accion_titular!='V'">ACCIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comunidad of titulosHabilitantes ">
                            <td>{{ comunidad.nroTituloHabilitante }}</td>
                            <td>{{ comunidad.vigenciaInicio | ddMMyyyy }}</td>
                            <td>{{ comunidad.vigenciaFin | ddMMyyyy }}</td>
                            <!-- <td>{{ custodio.fechaExpiracion | ddMMyyyy }}</td> -->
                            <td *ngIf="accion_titular!='V'">
                                <!-- [routerLink]="['/mantenimientoinspectores', infractor.infractorId]" -->
                                <button class="btn btn-info mr-1" (click)="verComunidad(comunidad)"> <i class="fa fa-pencil"></i></button>
                                <button *ngIf="comunidad.estado == 1 " class="btn btn-danger mr-1" type="button" (click)="desactivarComunidad(comunidad)"> <i class="fa fa-trash"></i></button>
                                <button *ngIf="comunidad.estado == 0 " class="btn btn-primary mr-1" type="button" (click)="activarComunidad(comunidad)"> <i class="fa fa-check"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>

            <mat-tab label="Comité" *ngIf="custodioSelected === '02' && titular.titularId!=0">
                <br>
                <h4>Comite y sus Renovaciones</h4>
                <div class="row " *ngIf="accion_titular!='V'">
                    <!-- text-right -->
                    <div class="col text-right" *ngIf="totalComites == 0">
                        <button type="button" (click)="nuevoComite()" class="btn btn-primary">
                            <i class="fa fa-plus"> </i>
                            CREAR COMITE
                        </button>
                    </div>

                    <div class="col text-right" *ngIf="totalComites != 0">
                        <button type="button" (click)="nuevaRenovacionComite()" class="btn btn-primary">
                            <i class="fa fa-plus"> </i>
                            RENOVACION
                        </button>
                    </div>
                </div>
                <table class="table mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Resolucion</th>
                            <th scope="col">Vigencia Desde</th>
                            <th scope="col">Vigencia Hasta</th>
                            <th scope="col">ACCIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let renovacionComite of titularRenovacion ">
                            <td>{{ renovacionComite.resolucion }}</td>
                            <td>{{ renovacionComite.vigenciaDesde | ddMMyyyy}}</td>
                            <td>{{ renovacionComite.vigenciaHasta | ddMMyyyy}}</td>
                            <td *ngIf="accion_titular!='V'">
                                <button *ngIf="renovacionComite.estado == 1" class="btn btn-success mr-1" (click)="verComite(renovacionComite)"> <i class="fa fa-pencil"></i></button>
                                <button *ngIf="renovacionComite.estado == 0" class="btn btn-primary mr-1" (click)="verComite(renovacionComite)"> <i class="fa fa-eye"></i></button>
                                <button *ngIf="renovacionComite.estado == 1" class="btn btn-success mr-1" (click)="abrirCustodiosxComite(renovacionComite)"> <i class="fa fa-user-plus"></i></button>
                                <button *ngIf="renovacionComite.estado == 0" class="btn btn-info mr-1" (click)="abrirCustodiosxComite(renovacionComite)"> <i class="fa fa-user"></i></button>
                                <!-- <button *ngIf="renovacionComite.estado == 1" class="btn btn-danger mr-1" type="button" (click)="desactivarComite(renovacionComite)"> <i class="fa fa-trash"></i></button>
                                <button *ngIf="renovacionComite.estado == 0" class="btn btn-primary mr-1" type="button" (click)="activarComite(renovacionComite)"> <i class="fa fa-check"></i></button> -->
                            </td>
                            <td *ngIf="accion_titular=='V'">
                                <button class="btn btn-primary mr-1" (click)="verComite(renovacionComite)"> <i class="fa fa-eye"></i></button>
                                <button class="btn btn-info mr-1" (click)="abrirCustodiosxComite(renovacionComite)"> <i class="fa fa-user"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>

            <mat-tab label="Custodio" *ngIf=" custodioSelected === '01' && titular.titularId!=0">
                <br>
                <div class="row " *ngIf="accion_titular!='V'">
                    <!-- text-right -->
                    <div class="col text-right">
                        <button type="button" (click)="nuevoCustodio()" class="btn btn-primary">
                            <i class="fa fa-plus"> </i>
                            Nuevo Custodio
                        </button>
                    </div>

                </div>
                <table class="table mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombres</th>
                            <th scope="col">DNI</th>
                            <!-- <th scope="col">FECHA CAPACITACIÓN</th> -->
                            <th scope="col">ACCIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let custodio of custodios ">
                            <td>{{ custodio.nombre + ' ' + custodio.apellidos }}</td>
                            <td>{{ custodio.dni }}</td>
                            <!-- <td>{{ custodio.capacitacionFecha | ddMMyyyy }}</td> -->

                            <td>
                                <!-- [routerLink]="['/mantenimientoinspectores', infractor.infractorId]" -->
                                <button *ngIf="accion_titular!='V'" class="btn btn-info mr-1" (click)="verCustodio(custodio)"> <i class="fa fa-pencil"></i></button>
                                <button *ngIf="accion_titular=='V'" class="btn btn-info mr-1" (click)="verCustodio(custodio)"> <i class="fa fa-eye"></i></button>
                                <button *ngIf="custodio.estado == 1 && accion_titular!='V'" class="btn btn-danger mr-1" type="button" (click)="desactivarCustodio(custodio)"> <i class="fa fa-trash"></i></button>
                                <button *ngIf="custodio.estado == 0 && accion_titular!='V'" class="btn btn-primary mr-1" type="button" (click)="activarCustodio(custodio)"> <i class="fa fa-check"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>

        </mat-tab-group>
    </form>
</div>