
<h3 mat-dialog-title style="text-align: center;">COMUNIDAD</h3>
<div mat-dialog-content style="background: #FFF;">
    <div style="margin-top: 20px; width:550px;">
        <form autocomplete="off" [formGroup]="formComunidad">
                <div class="row">
                    <div class="col-md-4">
                        <label for="nroTituloHabilitante" style="color: #000;">Nro Título Habilitante:</label>
                    </div>
                    <div class="col-md-8">
                        <mat-form-field appearance="outline" style="width: 90%; margin-top: -17px; color: #000;">
                            <input type="text" matInput formControlName="nroTituloHabilitante" name="nroTituloHabilitante" [class.is-invalid]="nroTituloNoValido">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row" *ngIf="nroTituloNoValido">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                        <small *ngIf="nroTituloNoValido" class="text-danger">
                            Ingresar el Nro Titulo Habilitante
                        </small>
                    </div>
                </div>
                <br>
                <div class="row" *ngIf="origen">
                    <div class="col-md-4">
                        <label for="tituloPropiedad" style="color: #000;">Título de Propiedad:</label>
                    </div>
                    <div class="col-md-8">
                        <mat-form-field appearance="outline" style="width: 90%; margin-top: -17px; color: #000;">
                            <input type="text" matInput formControlName="tituloPropiedad" name="tituloPropiedad">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row" *ngIf="origen">
                    <div class="col-md-4">
                        <label for="flagPermisoForestal" style="color: #000;">Plazo Forestal:</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control" aria-label="" formControlName="flagPermisoForestal" name="flagPermisoForestal" #teamsexistevigencia (change)="onSelectedExisteVigencia(teamsexistevigencia.value)">
                            <option value=1>Si</option>
                            <option value=0>No</option>
                        </select>
                    </div>
                </div>

                <div *ngIf="existePeriodoVigencia && origen">
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="fechaPeriodoInicio" style="color: #000;" >Fecha Periodo Inicio:</label>
                        </div>
                        <div class="col-md-8">
                            <!-- <mat-form-field appearance="outline" style="width: 90%; margin-top: -17px;"> -->
                                <input type="date" style="color: #000;" data-date-format="yyyy-dd-MM" matInput class="form-control" formControlName="fechaPeriodoInicio" name="fechaPeriodoInicio" > <!--[class.is-invalid]="fechPeriodoInicioNoValido"-->
                            <!-- </mat-form-field> -->
                        </div>
                    </div>
        
                    <!--div class="row" *ngIf="fechPeriodoInicioNoValido">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-8">
                            <small *ngIf="fechPeriodoInicioNoValido" class="text-danger">
                                Ingresar la Fecha Periodo Inicio.
                            </small>
                        </div>
                    </div-->
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="fechaPeriodoFin" style="color: #000;">Fecha Periodo Fin:</label>
                        </div>
                        <div class="col-md-8">
                            <!-- <mat-form-field appearance="outline" style="width: 90%; margin-top: -17px;"> -->
                                <input type="date" style="color: #000;" data-date-format="yyyy-dd-MM" matInput class="form-control" formControlName="fechaPeriodoFin" name="fechaPeriodoFin"  > <!-- [class.is-invalid]="fechPeriodoFinNoValido" -->
                            <!-- </mat-form-field> -->
                        </div>
                    </div>
                    <!--div class="row" *ngIf="fechPeriodoFinNoValido">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-8">
                            <small *ngIf="fechPeriodoFinNoValido" class="text-danger">
                                Ingresar la Fecha Periodo Fin.
                            </small>
                        </div>
                    </div-->
                </div>
                
                <div class="row" *ngIf="!origen">
                    <div class="col-md-4">
                        <label for="fechaPeriodoInicio" style="color: #000;" >Fecha Periodo Inicio:</label>
                    </div>
                    <div class="col-md-8">
                        <!-- <mat-form-field appearance="outline" style="width: 90%; margin-top: -17px;"> -->
                            <input type="date" style="color: #000;" data-date-format="yyyy-dd-MM" matInput class="form-control" formControlName="fechaPeriodoInicio" name="fechaPeriodoInicio" > <!--[class.is-invalid]="fechPeriodoInicioNoValido"-->
                        <!-- </mat-form-field> -->
                    </div>
                </div>
                <br>
                <div class="row" *ngIf="!origen">
                    <div class="col-md-4">
                        <label for="fechaPeriodoFin" style="color: #000;">Fecha Periodo Fin:</label>
                    </div>
                    <div class="col-md-8">
                        <!-- <mat-form-field appearance="outline" style="width: 90%; margin-top: -17px;"> -->
                            <input type="date" style="color: #000;" data-date-format="yyyy-dd-MM" matInput class="form-control" formControlName="fechaPeriodoFin" name="fechaPeriodoFin"  > <!-- [class.is-invalid]="fechPeriodoFinNoValido" -->
                        <!-- </mat-form-field> -->
                    </div>
                </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <button type="button" class="btn btn-danger" style="margin-right: 5px;" mat-stroked-button (click)="cerrar_modal(false)">Cancelar</button>
                    <button *ngIf="!ocultarBtnGuardar" type="button" class="btn btn-success" mat-raised-button (click)="guardarComunidad()">Guardar</button> <!-- *ngIf="menu.permiteActualizar === '1'" -->
                </div>
            </div>
            <input type="button" #btncerrarComu mat-dialog-close class="ocultar">
        </form>
    </div>
</div>
