<div class="styleMantenimientoCustodios">
    <br>
    <div class="row">
        <div class="col">
            <img *ngIf="ocultarLogo" src="./assets/logo_loreto.png" alt="image" style="width: 130px; height: 130px;">
            <img *ngIf="!ocultarLogo" src="./assets/logo_infractor.png" alt="image" style="width: 130px; height: 130px;">
        </div>
        <div class="col">
            <span *ngIf="ocultarLogo" class="login100-form-title p-b-51">
                REGISTRO DE CUSTODIOS DEL PATRIMONIO FORESTAL Y DE FAUNA SILVESTRE DE LORETO
            </span>
            <span *ngIf="!ocultarLogo" class="login100-form-title p-b-51">
                REGISTRO DE CUSTODIOS DEL PATRIMONIO FORESTAL Y DE FAUNA SILVESTRE DE UCAYALI
            </span>
        </div>
        <div class="col text-right">
            <img *ngIf="ocultarLogo" src="./assets/slogan_loreto.png" alt="image" style="width: 250px; height: 100px;">
            <img *ngIf="!ocultarLogo" src="./assets/logo_ucayali.png" alt="image" style="width: 250px; height: 100px;">
        </div>
    </div>
    <div class="row" *ngIf="accion_custodio!='V'">
        <div class="col text-right">
            <button (click)="cerrarSession()" class="btn btn-secondary" type="button">
                <i class="fa fa-power"> </i>
                CERRAR SESIÓN
            </button>

        </div>
        <hr>

    </div>
    <hr>
    <!-- <h3>Mantenimiento Custodio</h3> -->

    <div class="row text-right">
        <div class="col">
            <button type="button" (click)="regresar()" class="btn btn-danger">
                <i class="fa fa-arrow-left"></i>
                Regresar
            </button>
        </div>
    </div>

    <form autocomplete="off" [formGroup]="formCustodio" class="formulario">
        <mat-tab-group>
            <mat-tab label="Custodio">
                <br>
                <div *ngIf="custodioSelected === '01' ">
                    <h4>Datos Generales</h4>
                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-4">
                            <label class="form_label">Nombres</label>
                            <input type="text" appNamelastCharacter class="form-control" formControlName="nombre" name="nombre" maxlength="60">
                        </div>

                        <div class="col-md-4">
                            <label class="form_label">Apellidos</label>
                            <input type="text" appNamelastCharacter class="form-control" formControlName="apellidos" name="apellidos" maxlength="100">
                        </div>
                        <div class="col-md-4">
                            <label class="form_label">DNI o CE</label>
                            <input type="text" class="form-control" formControlName="dni" name="dni" appOnlyInteger maxlength="16">
                        </div>
                    </div>
                    <br>
                    <h4>Capacitación</h4>
                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-4">
                            <label class="form_label">Recibió Capacitación</label>
                            <select class="form-control" aria-label="" formControlName="capacitacionFlag" name="capacitacionFlag" #teamscapacitacion (change)="onSelectedRecibioCapacitacion(teamscapacitacion.value)">
                                <option value=1>Si</option>
                                <option value=0>No</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form_label">Fecha Capacitación</label>
                            <input type="date" data-date-format="yyyy-dd-MM" matInput class="form-control" formControlName="capacitacionFecha" name="capacitacionFecha">
                        </div>

                        <div class="col-md-4">
                            <label class="form_label">Número de Constancia de capacitación</label>
                            <input type="text" appAllowCharacter class="form-control" formControlName="capacitacionNumero" name="capacitacionNumero" maxlength="30">
                        </div>
                    </div>
                    <br>>
                    <div *ngIf="mostrar">
                        <div class="row" *ngIf="custodio.capacitacionNombre === '' && accion_custodio!='V'">
                            <div class="col-md-4">
                                <label class="form_label">Adjuntar constancia de capacitación:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" formControlName="adjuntodoccapacitacion" name="adjuntodoccapacitacion">
                            </div>
                            <div class="col-md-4">
                                <div style="display: grid; grid-template-columns: 50px 500px ">
                                    <div>
                                        <mat-icon (click)="elegirArchivoCapacitacion()" style="font-size: 33px; cursor: pointer;" color="warn" matTooltip="Cargar archivo" matTooltipClass="tooltip-red">add_circle</mat-icon>
                                        <input #btnselectCapacitacion style="display: none;" (change)="seleccion_archivo_capacitacion($event)" type="file">
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-success" mat-raised-button (click)="guardarDocumentoCapacitacion()">Subir Archivo</button>
                                        <!-- *ngIf="menu.permiteActualizar === '1'" -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="custodio.capacitacionNombre  != ''">
                            <div class="col-md-8" style="margin-left: 10px;">
                                <label class="form_label">Archivo adjunto - Constancia de capacitación:</label>
                            </div>
                        </div>
                        <div class="row" *ngIf="custodio.capacitacionNombre != ''">
                            <div class="col-md-4" style="background: #8A9597; margin-left: 30px;">
                                {{ custodio.capacitacionNombre }}
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-info mr-1" (click)="descargarDocumentoCapacitacion()"> <i class="fa fa-download"></i></button>
                                <button class="btn btn-danger mr-1" type="button" (click)="eliminarDocumentoCapacitacion()" *ngIf="accion_custodio!='V'"> <i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                        <br>
                    </div>
                    
                    <h4>Resolución de Acreditación</h4>
                    <br>
                    <div *ngIf="mostrar">
                        <div class="row" *ngIf="custodio.reconocimientoNombre === '' && accion_custodio!='V'">
                            <div class="col-md-4">
                                <label class="form_label">Solicitud Reconocimiento:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" formControlName="adjuntodocreconocimiento" name="adjuntodocreconocimiento">
                            </div>
                            <div class="col-md-4">
                                <div style="display: grid; grid-template-columns: 50px 500px ">
                                    <div>
                                        <mat-icon (click)="elegirArchivoReconocimiento()" style="font-size: 33px; cursor: pointer;" color="warn" matTooltip="Cargar archivo" matTooltipClass="tooltip-red">add_circle</mat-icon>
                                        <input #btnselectReconocimiento style="display: none;" (change)="seleccion_archivo_reconocimiento($event)" type="file">
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-success" mat-raised-button (click)="guardarDocumentoReconocimiento()">Subir Archivo</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="custodio.reconocimientoNombre  != ''">
                            <div class="col-md-8" style="margin-left: 10px;">
                                <label class="form_label">Archivo adjunto - Solicitud de reconocimiento:</label>
                            </div>
                        </div>
                        <div class="row" *ngIf="custodio.reconocimientoNombre != ''">
                            <div class="col-md-4" style="background: #8A9597; margin-left: 30px;">
                                {{ custodio.reconocimientoNombre }}
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-info mr-1" (click)="descargarDocumentoReconocimiento()"> <i class="fa fa-download"></i></button>
                                <button *ngIf="accion_custodio!='V'" class="btn btn-danger mr-1" type="button" (click)="eliminarDocumentoReconocimiento()" > <i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                        <br>
                    </div>
                    
                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-4">
                            <label class="form_label">Fecha de Solicitud</label>
                            <input type="date" data-date-format="yyyy-dd-MM" matInput class="form-control" formControlName="fechaSolicitud" name="fechaSolicitud">
                        </div>
                        <div class="col-md-4">
                            <label class="form_label">Acto Administrativo</label>
                            <input type="text" class="form-control" formControlName="actoAdministrativo" name="actoAdministrativo" maxlength="150">
                        </div>
                        <div class="col-md-4">
                            <label class="form_label">Fecha Acto Administrativo</label>
                            <input type="date" data-date-format="yyyy-dd-MM" matInput class="form-control" formControlName="actoAdministrativoFecha" name="actoAdministrativoFecha">
                        </div>
                    </div>
                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        
                        <div class="col-md-4">
                            <label class="form_label">Vigencia</label>
                            <input type="number" appOnlyInteger class="form-control" formControlName="actoAdministrativoVigencia" name="actoAdministrativoVigencia">
                        </div>
                        <div class="col-md-4">
                            <label class="form_label">Periodo de Vigencia:Desde</label>
                            <input type="date" data-date-format="yyyy-dd-MM" matInput class="form-control" formControlName="vigenciaDesde" name="vigenciaDesde">
                        </div>
                        <div class="col-md-4">
                            <label class="form_label">Hasta</label>
                            <input type="date" data-date-format="yyyy-dd-MM" matInput class="form-control" formControlName="vigenciaHasta" name="vigenciaHasta">
                        </div>
                    </div>

                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        
                        <div class="col-md-4">
                            <label class="form_label">Código Carné de acreditación</label>
                            <input type="text" class="form-control" formControlName="carneCodigo" name="carneCodigo" maxlength="150">
                        </div>
                    </div>
                    <br>
                    <div *ngIf="mostrar">
                        <div class="row" *ngIf="custodio.carneNombre === '' && accion_custodio!='V'">
                            <div class="col-md-4">
                                <label class="form_label">Adjuntar carnet de acreditación:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" formControlName="adjuntodoccarnet" name="adjuntodoccarnet">
                            </div>
                            <div class="col-md-4">
                                <div style="display: grid; grid-template-columns: 50px 500px ">
                                    <div>
                                        <mat-icon (click)="elegirArchivoCarnet()" style="font-size: 33px; cursor: pointer;" color="warn" matTooltip="Cargar archivo" matTooltipClass="tooltip-red">add_circle</mat-icon>
                                        <input #btnselectCarnet style="display: none;" (change)="seleccion_archivo_carnet($event)" type="file">
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-success" mat-raised-button (click)="guardarDocumentoCarnet()">Subir Archivo</button>
                                        <!-- *ngIf="menu.permiteActualizar === '1'" -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="custodio.carneNombre != ''">
                            <div class="col-md-8" style="margin-left: 10px;">
                                <label class="form_label">Archivo adjunto - Carnet de acreditación:</label>
                            </div>
                        </div>
                        <div class="row" *ngIf="custodio.carneNombre != ''">
                            <div class="col-md-4" style="background: #8A9597; margin-left: 30px;">
                                {{ custodio.carneNombre }}
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-info mr-1" (click)="descargarDocumentoCarnet()"> <i class="fa fa-download"></i></button>
                                <button class="btn btn-danger mr-1" type="button" (click)="eliminarDocumentoCarnet()" *ngIf="accion_custodio!='V'"> <i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                        <br>
                    </div>
                    
                    <h4>Pérdida de Acreditación</h4>
                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-4">
                            <label class="form_label">Pérdida de Acreditación</label>
                            <select class="form-control" aria-label="" formControlName="perdidaFlag" name="perdidaFlag" #teamsperdida (change)="onSelectedPerdidaAcreditacion(teamsperdida.value)">
                                <option value=1>Si</option>
                                <option value=0>No</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form_label">Motivo</label>
                            <select class="form-control" (change)="onSelectMotivoPerdida($event)" formControlName="perdidaMotivo" name="perdidaMotivo"> 
                                <option *ngFor="let motivosPerdida of dominioMotivosPerdida" value={{motivosPerdida.codigoDetalle}}>
                                    {{motivosPerdida.valorDetalle}}
                                </option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form_label">Fecha pérdida de acreditación</label>
                            <input type="date" data-date-format="yyyy-dd-MM" matInput class="form-control" formControlName="perdidaFecha" name="perdidaFecha">
                        </div>
                    </div>

                    <br>
                    <div *ngIf="mostrar">
                        <div class="row" *ngIf="custodio.perdidaActoAdmNombre === '' && accion_custodio!='V'">
                            <div class="col-md-4">
                                <label class="form_label">Acto administrativo de pérdida de la acreditación:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" formControlName="adjuntodocperdidaacto" name="adjuntodocperdidaacto">
                            </div>
                            <div class="col-md-4">
                                <div style="display: grid; grid-template-columns: 50px 500px ">
                                    <div>
                                        <mat-icon (click)="elegirArchivoPerdidaActo()" style="font-size: 33px; cursor: pointer;" color="warn" matTooltip="Cargar archivo" matTooltipClass="tooltip-red">add_circle</mat-icon>
                                        <input #btnselectPerdidaActo style="display: none;" (change)="seleccion_archivo_perdida_acto($event)" type="file">
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-success" mat-raised-button (click)="guardarDocumentoPerdidaActo()">Subir Archivo</button>
                                        <!-- *ngIf="menu.permiteActualizar === '1'" -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="custodio.perdidaActoAdmNombre != ''">
                            <div class="col-md-8" style="margin-left: 10px;">
                                <label class="form_label">Archivo adjunto - Acto administrativo de pérdida de la acreditación:</label>
                            </div>
                        </div>
                        <div class="row" *ngIf="custodio.perdidaActoAdmNombre != ''">
                            <div class="col-md-4" style="background: #8A9597; margin-left: 30px;">
                                {{ custodio.perdidaActoAdmNombre }}
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-info mr-1" (click)="descargarDocumentoPerdidaActo()"> <i class="fa fa-download"></i></button>
                                <button class="btn btn-danger mr-1" type="button" (click)="eliminarDocumentoPerdidaActo()" *ngIf="accion_custodio!='V'"> <i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div *ngIf="custodioSelected === '02' ">
                    <h4>CUSTODIOS RENOCIDOS</h4>
                    
                    <div class="row" style="padding: 10px 10px 10px 10px;" *ngIf="ocultarLogo">
                        <div class="col-md-4">
                            <label class="form_label">¿El custodio se encuentra reconocido?</label>
                            <select class="form-control" aria-label="" formControlName="flagReconocido" name="flagReconocido" #teamsreconocido (change)="onSelectedReconocido(teamsreconocido.value)">
                                <option value=1>Si</option>
                                <option value=0>No</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form_label">¿El custodio se encuentra acreditado?</label>
                            <select class="form-control" aria-label="" formControlName="flagAcreditado" name="flagAcreditado" #teamsacreditado (change)="onSelectedAcreditado(teamsacreditado.value)">
                                <option value=1>Si</option>
                                <option value=0>No</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-4">
                            <label class="form_label">Nombres</label>
                            <input type="text" class="form-control" formControlName="nombre" name="nombre" appAllowCharacter maxlength="60">
                        </div>

                        <div class="col-md-4">
                            <label class="form_label">DNI</label>
                            <input type="text" class="form-control" formControlName="dni" name="dni" appOnlyNumeric maxlength="16">
                        </div>

                        <div class="col-md-4">
                            <label class="form_label">Cargo</label>
                            <input type="text" class="form-control" formControlName="cargo" name="cargo" maxlength="150">
                        </div>
                    </div>
                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-4">
                            <label class="form_label">Fecha de Capacitación</label>
                            <input type="date" data-date-format="yyyy-dd-MM" matInput class="form-control" formControlName="capacitacionFecha" name="capacitacionFecha">
                        </div>

                        <div class="col-md-4">
                            <label class="form_label">Número de Constancia de Capacitación</label>
                            <input type="text" class="form-control" formControlName="capacitacionNumero" name="capacitacionNumero" maxlength="30">
                        </div>

                        <div class="col-md-4" *ngIf="ocultarLogo && mostrarAcreditado">
                            <label class="form_label">Código Carné Acreditación</label>
                            <input type="text" class="form-control" formControlName="carneCodigo" name="carneCodigo" maxlength="150">
                        </div>
                    </div>
                    <br>
                    <br>
                    <div *ngIf="mostrarAcreditado">
                        <div *ngIf="mostrar">
                            <div class="row" *ngIf="custodio.carneNombre === '' && accion_custodio!='V'">
                                <div class="col-md-4">
                                    <label class="form_label" *ngIf="!ocultarLogo">Adjuntar carnet de acreditación:</label>
                                    <label class="form_label" *ngIf="ocultarLogo">Adjuntar Resolución de Acreditación del Custodio :</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" formControlName="adjuntodoccarnet" name="adjuntodoccarnet">
                                </div>
                                <div class="col-md-4">
                                    <div style="display: grid; grid-template-columns: 50px 500px ">
                                        <div>
                                            <mat-icon (click)="elegirArchivoCarnet()" style="font-size: 33px; cursor: pointer;" color="warn" matTooltip="Cargar archivo" matTooltipClass="tooltip-red">add_circle</mat-icon>
                                            <input #btnselectCarnet style="display: none;" (change)="seleccion_archivo_carnet($event)" type="file">
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-success" mat-raised-button (click)="guardarDocumentoCarnet()">Subir Archivo</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row" *ngIf="custodio.carneNombre != ''">
                                <div class="col-md-8" style="margin-left: 10px;">
                                    <label class="form_label" *ngIf="!ocultarLogo">Archivo adjunto - Carnet de acreditación:</label>
                                    <label class="form_label" *ngIf="ocultarLogo">Archivo adjunto - Resolución de Acreditación del Custodio :</label>
                                </div>
                            </div>
                            <div class="row" *ngIf="custodio.carneNombre != ''">
                                <div class="col-md-4" style="background: #8A9597; margin-left: 30px;">
                                    {{ custodio.carneNombre }}
                                </div>
                                <div class="col-md-3" *ngIf="accion_custodio!='V' ">
                                    <button class="btn btn-info mr-1" (click)="descargarDocumentoCarnet()"> <i class="fa fa-download"></i></button>
                                    <button class="btn btn-danger mr-1" type="button" (click)="eliminarDocumentoCarnet()" *ngIf="custodio.estadoRenovacionComite != 0"> <i class="fa fa-trash"></i></button><!-- accion_custodio!='V' &&  -->
                                </div>
                                <div class="col-md-3" *ngIf="accion_custodio=='V' ">
                                    <button class="btn btn-info mr-1" (click)="descargarDocumentoCarnet()"> <i class="fa fa-download"></i></button>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>

                    <div *ngIf="mostrarReconocido">
                        <div *ngIf="mostrar">
                            <div class="row" *ngIf="custodio.reconocidoNombre === '' && accion_custodio!='V'">
                                <div class="col-md-4">
                                    <label class="form_label">Resolución de Reconocimiento:</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" formControlName="adjuntodocreconocimiento" name="adjuntodocreconocimiento">
                                </div>
                                <div class="col-md-4">
                                    <div style="display: grid; grid-template-columns: 50px 500px ">
                                        <div>
                                            <mat-icon (click)="elegirArchivoReconocimiento()" style="font-size: 33px; cursor: pointer;" color="warn" matTooltip="Cargar archivo" matTooltipClass="tooltip-red">add_circle</mat-icon>
                                            <input #btnselectCarnet style="display: none;" (change)="seleccion_archivo_reconocimiento($event)" type="file">
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-success" mat-raised-button (click)="guardarDocumentoReconocimiento()">Subir Archivo</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row" *ngIf="custodio.reconocimientoNombre != ''">
                                <div class="col-md-8" style="margin-left: 10px;">
                                    <label class="form_label">Archivo adjunto - Resolución de Reconocimiento :</label>
                                </div>
                            </div>
                            <div class="row" *ngIf="custodio.reconocimientoNombre != ''">
                                <div class="col-md-4" style="background: #8A9597; margin-left: 30px;">
                                    {{ custodio.reconocimientoNombre }}
                                </div>
                                <div class="col-md-3" *ngIf="accion_custodio!='V' ">
                                    <button class="btn btn-info mr-1" (click)="descargarDocumentoReconocimiento()"> <i class="fa fa-download"></i></button>
                                    <button class="btn btn-danger mr-1" type="button" (click)="eliminarDocumentoReconocimiento()" *ngIf="custodio.estadoRenovacionComite != 0"> <i class="fa fa-trash"></i></button><!-- accion_custodio!='V' &&  -->
                                </div>
                                <div class="col-md-3" *ngIf="accion_custodio=='V' ">
                                    <button class="btn btn-info mr-1" (click)="descargarDocumentoReconocimiento()"> <i class="fa fa-download"></i></button>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>

                <div *ngIf=" accion_custodio!='V'">
                    <div class="col"*ngIf="custodio.estadoRenovacionComite != 0 ">
                        <div class="form-group text-right">
                            <button *ngIf="!ocultarBtnGuardar" type="button" (click)="guardar()" class="btn btn-primary w-25">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
                
            
                <br>
                <br>
            </mat-tab>

            <mat-tab label="Renovación" *ngIf="mostrar">
                <br>
                <div class="row ">
                    <!-- text-right -->
                    <div class="col">
                        <div *ngIf="custodioSelected === '01' ">
                            <h4>RENOVACIONES</h4>
                        </div>
                        <div *ngIf="custodioSelected === '02' ">
                            <h4>RENOVACIONES DE COMITÉ DE VIGILANCIA Y CONTROL</h4>
                        </div>
                    </div>
                    <div  *ngIf="accion_custodio!='V'"  >
                        <div class="col text-right" *ngIf="custodio.estadoRenovacionComite != 0" > 
                            <button type="button" (click)="nuevoContrato()" class="btn btn-primary">
                                <i class="fa fa-plus"> </i>
                                Agregar
                            </button>
                        </div>
                    </div>
                    
                </div>
               
                <table class="table mt-3" *ngIf="accion_custodio!='V'">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ACTO ADMINISTRATIVO</th>
                            <th scope="col">VIGENCIA(MESES)</th>
                            <th scope="col">FECHA ACTO ADMINISTRACION</th>
                            <th scope="col" *ngIf="custodio.estadoRenovacionComite == 0" >DESDE</th>  
                            <th scope="col" *ngIf="custodio.estadoRenovacionComite == 0">HASTA</th> 
                            <th scope="col" *ngIf="custodio.estadoRenovacionComite != 0">ACCIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let contrato of contratos ">
                            <td>{{ contrato.resolucion }}</td>
                            <td>{{ contrato.resolucionVigencia }}</td>
                            <td>{{ contrato.resolucionFecha | ddMMyyyy }}</td>
                            <td  *ngIf="custodio.estadoRenovacionComite == 0">{{ contrato.vigenciaDesde| ddMMyyyy }}</td> 
                            <td *ngIf="custodio.estadoRenovacionComite == 0 ">{{ contrato.vigenciaHasta | ddMMyyyy }}</td>
                            <!-- <td>{{ custodio.fechaExpiracion | ddMMyyyy }}</td> -->
                            <td *ngIf="custodio.estadoRenovacionComite != 0"> 
                                <!-- [routerLink]="['/mantenimientoinspectores', infractor.infractorId]" -->
                                <button class="btn btn-info mr-1" (click)="verContrato(contrato)"> <i class="fa fa-pencil"></i></button>
                                <button *ngIf="contrato.estado == 1" class="btn btn-danger mr-1" type="button" (click)="desactivarContrato(contrato)" > <i class="fa fa-trash"></i></button>
                                <button *ngIf="contrato.estado == 0" class="btn btn-primary mr-1" type="button" (click)="activarContrato(contrato)"> <i class="fa fa-check"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <table class="table mt-3" *ngIf="accion_custodio=='V'">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ACTO ADMINISTRATIVO</th>
                            <th scope="col">VIGENCIA(MESES)</th>
                            <th scope="col">FECHA ACTO ADMINISTRACION</th>
                            <th scope="col">DESDE</th> 
                            <th scope="col">HASTA</th>    
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let contrato of contratos ">
                            <td>{{ contrato.resolucion }}</td>
                            <td>{{ contrato.resolucionVigencia }}</td>
                            <td>{{ contrato.resolucionFecha | ddMMyyyy }}</td>
                            <td>{{ contrato.vigenciaDesde| ddMMyyyy }}</td> 
                            <td>{{ contrato.vigenciaHasta | ddMMyyyy }}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>
            </mat-tab>


        </mat-tab-group>
    </form>
</div>