<div class="styleMantenimientoCustodios">
    <br>
    <div class="row">
        <div class="col">
            <img src="./assets/logo_infractor.png" alt="image" style="width: 130px; height: 130px;">
        </div>
        <div class="col">
            <span class="login100-form-title p-b-51">
                REGISTRO DE CUSTODIOS DEL PATRIMONIO FORESTAL Y DE FAUNA SILVESTRE DE UCAYALI
            </span>
        </div>
        <div class="col text-right">
            <img src="./assets/logo_ucayali.png" alt="image" style="width: 250px; height: 100px;">
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <button (click)="cerrarSession()" class="btn btn-secondary" type="button">
                <i class="fa fa-power"> </i>
                CERRAR SESIÓN
            </button>

        </div>
        <hr>

    </div>
    <hr>
    <!-- <h3>Mantenimiento Custodio</h3> -->

    <div class="row text-right">
        <div class="col">
            <button type="button" (click)="regresar()" class="btn btn-danger">
                <i class="fa fa-arrow-left"></i>
                Regresar
            </button>
        </div>
    </div>

    <form autocomplete="off" [formGroup]="formCustodio" class="formulario">
        <mat-tab-group>
            <mat-tab label="Custodio">
                <br>
                <div *ngIf="custodioSelected === '01' ">
                    <h4>Datos Generales</h4>
                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-4">
                            <label class="form_label">Nombres</label>
                            <input type="text" class="form-control" formControlName="nombre" name="nombre">
                        </div>

                        <div class="col-md-4">
                            <label class="form_label">Apellidos</label>
                            <input type="text" class="form-control" formControlName="apellidos" name="apellidos">
                        </div>
                        <div class="col-md-4">
                            <label class="form_label">DNI o CE</label>
                            <input type="text" class="form-control" formControlName="dni" name="dni">
                        </div>
                    </div>
                    <br>
                    <h4>Capacitación</h4>
                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-4">
                            <label class="form_label">Recibio Capacitación</label>
                            <select class="form-select" aria-label="" formControlName="capacitacionFlag" name="capacitacionFlag" #teamscapacitacion (change)="onSelectedRecibioCapacitacion(teamscapacitacion.value)">
                                <option value=1>Si</option>
                                <option value=0>No</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form_label">Fecha Capacitación</label>
                            <input type="date" data-date-format="yyyy-dd-MM" matInput class="form-control" formControlName="capacitacionFecha" name="capacitacionFecha">
                        </div>

                        <div class="col-md-4">
                            <label class="form_label">Número de Constancia de capacitación</label>
                            <input type="text" class="form-control" formControlName="capacitacionNumero" name="capacitacionNumero">
                        </div>
                    </div>
                    <br>
                    <div class="row" *ngIf="custodio.capacitacionNombre === ''">
                        <div class="col-md-3">
                            <label class="form_label">Adjuntar constancia de capacitación:</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" class="form-control" formControlName="adjuntodoccapacitacion" name="adjuntodoccapacitacion">
                        </div>
                        <div class="col-md-4">
                            <div style="display: grid; grid-template-columns: 50px 500px ">
                                <div>
                                    <mat-icon (click)="elegirArchivoCapacitacion()" style="font-size: 33px; cursor: pointer;" color="warn" matTooltip="Cargar archivo" matTooltipClass="tooltip-red">add_circle</mat-icon>
                                    <input #btnselectCapacitacion style="display: none;" (change)="seleccion_archivo_capacitacion($event)" type="file">
                                </div>
                                <div>
                                    <button type="button" class="btn btn-success" mat-raised-button (click)="guardarDocumentoCapacitacion()">Subir Archivo</button>
                                    <!-- *ngIf="menu.permiteActualizar === '1'" -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="custodio.capacitacionNombre != ''">
                        <div class="col-md-6" style="background: #8A9597;">
                            {{ custodio.capacitacionNombre }}
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-info mr-1" (click)="descargarDocumentoCapacitacion()"> <i class="fa fa-download"></i></button>
                            <button class="btn btn-danger mr-1" type="button" (click)="eliminarDocumentoCapacitacion()"> <i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                    <br>
                    <h4>Resolución de Acreditación</h4>
                    <br>
                    <div class="row" *ngIf="custodio.reconocimientoNombre === ''">
                        <div class="col-md-3">
                            <label class="form_label">Solicitud Reconocimiento:</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" class="form-control" formControlName="adjuntodocreconocimiento" name="adjuntodocreconocimiento">
                        </div>
                        <div class="col-md-4">
                            <div style="display: grid; grid-template-columns: 50px 500px ">
                                <div>
                                    <mat-icon (click)="elegirArchivoReconocimiento()" style="font-size: 33px; cursor: pointer;" color="warn" matTooltip="Cargar archivo" matTooltipClass="tooltip-red">add_circle</mat-icon>
                                    <input #btnselectReconocimiento style="display: none;" (change)="seleccion_archivo_reconocimiento($event)" type="file">
                                </div>
                                <div>
                                    <button type="button" class="btn btn-success" mat-raised-button (click)="guardarDocumentoReconocimiento()">Subir Archivo</button>
                                    <!-- *ngIf="menu.permiteActualizar === '1'" -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="custodio.reconocimientoNombre != ''">
                        <div class="col-md-6" style="background: #8A9597;">
                            {{ custodio.reconocimientoNombre }}
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-info mr-1" (click)="descargarDocumentoReconocimiento()"> <i class="fa fa-download"></i></button>
                            <button class="btn btn-danger mr-1" type="button" (click)="eliminarDocumentoReconocimiento()"> <i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-4">
                            <label class="form_label">Fecha de Solicitud</label>
                            <input type="date" data-date-format="yyyy-dd-MM" matInput class="form-control" formControlName="fechaSolicitud" name="fechaSolicitud">
                        </div>
                        <div class="col-md-4">
                            <label class="form_label">Acto Administrativo</label>
                            <input type="text" class="form-control" formControlName="actoAdministrativo" name="actoAdministrativo">
                        </div>
                    </div>
                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-4">
                            <label class="form_label">Fecha Acto Administrativo</label>
                            <input type="date" data-date-format="yyyy-dd-MM" matInput class="form-control" formControlName="actoAdministrativoFecha" name="actoAdministrativoFecha">
                        </div>
                        <div class="col-md-4">
                            <label class="form_label">Vigencia</label>
                            <input type="number" class="form-control" formControlName="actoAdministrativoVigencia" name="actoAdministrativoVigencia">
                        </div>

                    </div>

                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-4">
                            <label class="form_label">Periodo de Vigencia:Desde</label>
                            <input type="date" data-date-format="yyyy-dd-MM" matInput class="form-control" formControlName="vigenciaDesde" name="vigenciaDesde">
                        </div>
                        <div class="col-md-4">
                            <label class="form_label">Hasta</label>
                            <input type="date" data-date-format="yyyy-dd-MM" matInput class="form-control" formControlName="vigenciaHasta" name="vigenciaHasta">
                        </div>
                        <div class="col-md-4">
                            <label class="form_label">Código Carné de acreditación</label>
                            <input type="text" class="form-control" formControlName="carneCodigo" name="carneCodigo">
                        </div>
                    </div>

                    <br>
                    <div class="row" *ngIf="custodio.carneNombre === ''">
                        <div class="col-md-3">
                            <label class="form_label">Adjuntar carnet de acreditación:</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" class="form-control" formControlName="adjuntodoccarnet" name="adjuntodoccarnet">
                        </div>
                        <div class="col-md-4">
                            <div style="display: grid; grid-template-columns: 50px 500px ">
                                <div>
                                    <mat-icon (click)="elegirArchivoCarnet()" style="font-size: 33px; cursor: pointer;" color="warn" matTooltip="Cargar archivo" matTooltipClass="tooltip-red">add_circle</mat-icon>
                                    <input #btnselectCarnet style="display: none;" (change)="seleccion_archivo_carnet($event)" type="file">
                                </div>
                                <div>
                                    <button type="button" class="btn btn-success" mat-raised-button (click)="guardarDocumentoCarnet()">Subir Archivo</button>
                                    <!-- *ngIf="menu.permiteActualizar === '1'" -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="custodio.carneNombre != ''">
                        <div class="col-md-6" style="background: #8A9597;">
                            {{ custodio.carneNombre }}
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-info mr-1" (click)="descargarDocumentoCarnet()"> <i class="fa fa-download"></i></button>
                            <button class="btn btn-danger mr-1" type="button" (click)="eliminarDocumentoCarnet()"> <i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                    <br>
                    <h4>Pérdida de Acreditación</h4>
                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-4">
                            <label class="form_label">Pérdida de Acreditación</label>
                            <select class="form-select" aria-label="" formControlName="perdidaFlag" name="perdidaFlag" #teamsperdida (change)="onSelectedPerdidaAcreditacion(teamsperdida.value)">
                                <option value=1>Si</option>
                                <option value=0>No</option>
                            </select>
                        </div>

                        <div class="col-md-4 small">
                            <label class="form_label">Motivo</label>
                            <select class="form-select" (change)="onSelectMotivoPerdida($event)" formControlName="perdidaMotivo" name="perdidaMotivo"> 
                                <option *ngFor="let motivosPerdida of dominioMotivosPerdida" value={{motivosPerdida.codigoDetalle}}>
                                    {{motivosPerdida.valorDetalle}}
                                </option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form_label">Fecha pérdida de acreditación</label>
                            <input type="date" data-date-format="yyyy-dd-MM" matInput class="form-control" formControlName="perdidaFecha" name="perdidaFecha">
                        </div>
                    </div>

                    <br>
                    <div class="row" *ngIf="custodio.perdidaActoAdmNombre === ''">
                        <div class="col-md-3">
                            <label class="form_label">Acto administrativo de pérdida de la acreditación:</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" class="form-control" formControlName="adjuntodocperdidaacto" name="adjuntodocperdidaacto">
                        </div>
                        <div class="col-md-4">
                            <div style="display: grid; grid-template-columns: 50px 500px ">
                                <div>
                                    <mat-icon (click)="elegirArchivoPerdidaActo()" style="font-size: 33px; cursor: pointer;" color="warn" matTooltip="Cargar archivo" matTooltipClass="tooltip-red">add_circle</mat-icon>
                                    <input #btnselectPerdidaActo style="display: none;" (change)="seleccion_archivo_perdida_acto($event)" type="file">
                                </div>
                                <div>
                                    <button type="button" class="btn btn-success" mat-raised-button (click)="guardarDocumentoPerdidaActo()">Subir Archivo</button>
                                    <!-- *ngIf="menu.permiteActualizar === '1'" -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="custodio.perdidaActoAdmNombre != ''">
                        <div class="col-md-6" style="background: #8A9597;">
                            {{ custodio.perdidaActoAdmNombre }}
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-info mr-1" (click)="descargarDocumentoPerdidaActo()"> <i class="fa fa-download"></i></button>
                            <button class="btn btn-danger mr-1" type="button" (click)="eliminarDocumentoPerdidaActo()"> <i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                    <br>
                </div>
                <div *ngIf="custodioSelected === '02' ">
                    <h4>CUSTODIOS RENOCIDOS</h4>
                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-4">
                            <label class="form_label">Nombres</label>
                            <input type="text" class="form-control" formControlName="nombre" name="nombre">
                        </div>

                        <div class="col-md-4">
                            <label class="form_label">DNI</label>
                            <input type="text" class="form-control" formControlName="dni" name="dni">
                        </div>

                        <div class="col-md-4 small">
                            <label class="form_label">Cargo</label>
                            <input type="text" class="form-control" formControlName="cargo" name="cargo">
                        </div>
                    </div>
                    <div class="row" style="padding: 10px 10px 10px 10px;">
                        <div class="col-md-4">
                            <label class="form_label">Fecha de Capacitación</label>
                            <input type="date" data-date-format="yyyy-dd-MM" matInput class="form-control" formControlName="capacitacionFecha" name="capacitacionFecha">
                        </div>

                        <div class="col-md-4">
                            <label class="form_label">Numero Constancia Capacitacion</label>
                            <input type="text" class="form-control" formControlName="capacitacionNumero" name="capacitacionNumero">
                        </div>

                        <div class="col-md-4 small">
                            <label class="form_label">Código Carné Acreditación</label>
                            <input type="text" class="form-control" formControlName="carneCodigo" name="carneCodigo">
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" *ngIf="custodio.carneNombre === ''">
                        <div class="col-md-2">
                            <label class="form_label">Adjuntar carnet de acreditación:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" formControlName="adjuntodoccarnet" name="adjuntodoccarnet">
                        </div>
                        <div class="col-md-5">
                            <div style="display: grid; grid-template-columns: 50px 500px ">
                                <div>
                                    <mat-icon (click)="elegirArchivoCarnet()" style="font-size: 33px; cursor: pointer;" color="warn" matTooltip="Cargar archivo" matTooltipClass="tooltip-red">add_circle</mat-icon>
                                    <input #btnselectCarnet style="display: none;" (change)="seleccion_archivo_carnet($event)" type="file">
                                </div>
                                <div>
                                    <button type="button" class="btn btn-success" mat-raised-button (click)="guardarDocumentoCarnet()">Subir Archivo</button>
                                    <!-- *ngIf="menu.permiteActualizar === '1'" -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="custodio.carneNombre != ''">
                        <div class="col-md-6" style="background: #8A9597;">
                            {{ custodio.carneNombre }}
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-info mr-1" (click)="descargarDocumentoCarnet()"> <i class="fa fa-download"></i></button>
                            <button class="btn btn-danger mr-1" type="button" (click)="eliminarDocumentoCarnet()"> <i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                    <br>
                </div>

                <br>
                <br>
            </mat-tab>

            <mat-tab label="Renovacion" *ngIf="mostrar">
                <br>
                <div class="row ">
                    <!-- text-right -->
                    <div class="col">
                        <div *ngIf="custodioSelected === '01' ">
                            <h4>RENOVACIONES</h4>
                        </div>
                        <div *ngIf="custodioSelected === '02' ">
                            <h4>RENOVACIONES DE COMITÉ DE VIGILANCIA Y CONTROL</h4>
                        </div>
                    </div>
                    <div class="col text-right">
                        <button type="button" (click)="nuevoContrato()" class="btn btn-primary">
                            <i class="fa fa-plus"> </i>
                            Agregar
                        </button>
                    </div>
                </div>
                <table class="table mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ACTO ADMINISTRATIVO</th>
                            <th scope="col">VIGENCIA</th>
                            <th scope="col">FECHA ACTO ADMINISTRACION</th>
                            <th scope="col">ACCIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let contrato of contratos ">
                            <td>{{ contrato.resolucion }}</td>
                            <td>{{ contrato.resolucionVigencia }}</td>
                            <td>{{ contrato.resolucionFecha | ddMMyyyy }}</td>
                            <!-- <td>{{ custodio.fechaExpiracion | ddMMyyyy }}</td> -->
                            <td>
                                <!-- [routerLink]="['/mantenimientoinspectores', infractor.infractorId]" -->
                                <button class="btn btn-info mr-1" (click)="verContrato(contrato)"> <i class="fa fa-pencil"></i></button>
                                <button *ngIf="contrato.estado == 1" class="btn btn-danger mr-1" type="button" (click)="desactivarContrato(contrato)"> <i class="fa fa-trash"></i></button>
                                <button *ngIf="contrato.estado == 0" class="btn btn-primary mr-1" type="button" (click)="activarContrato(contrato)"> <i class="fa fa-check"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>
            </mat-tab>


        </mat-tab-group>
    </form>
    <div class="col">
        <div class="form-group text-right">
            <button type="button" (click)="guardar()" class="btn btn-primary w-25">
                <i class="fa fa-save"></i>
                Guardar
            </button>
        </div>
    </div>

</div>