<!--div class="limiter animated fadeInLeft">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w" (ngSubmit)="login( f )" #f="ngForm">

                <img class="login100-form-title p-b-1"src="/assets/logo_infractor.png" alt="image" style="width: 125px; height: 125px; margin-left: 130px;">

                <span class="login100-form-title p-b-51">
                    REGISTRO DE CUSTODIOS
                </span>
                <span *ngIf="f.submitted && f.controls['username'].errors" class="text-danger animated fadeIn">
                El usuario es obligatorio
                </span>
                
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="username" required placeholder="Username" [(ngModel)]="usermodel.usuario">
                    <span class="focus-input100"></span>
                </div>
                
                <span *ngIf="f.submitted && f.controls['pass'].errors" class="text-danger animated fadeIn">
                    La clave es obligatoria
                </span>
                <div class="wrap-input100 m-b-16" data-validate = "Password is required">
                    <input class="input100" type="password" name="pass" required placeholder="Password" [(ngModel)]="usermodel.clave">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        Ingresar
                    </button>
                </div>

            </form>

            
        </div>
    </div>
</div-->

<div class="wrapper fadeInDown" style="background-color: #56baed ;">
    <div id="formContent">
        <!---Icon -->
        <div class="fadeIn first">
            <img src="./assets/logo_ucayali.png" alt="image" style="width: 300px;">
        </div>
        <div class="fadeIn first">
            <!--img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /-->
            <img src="./assets/logo_infractor.png" alt="image" id="icon" style="width: 125px; height: 125px;">
        </div>
        <span class="fadeIn first text">
            REGISTRO DE CUSTODIOS DEL PATRIMONIO FORESTAL Y DE FAUNA SILVESTRE DE UCAYALI
         </span>
        <!-- Login Form -->
        <form (ngSubmit)="login( f )" #f="ngForm">

            <span *ngIf="f.submitted && f.controls['username'].errors" class="text-danger animated fadeIn">
            El usuario es obligatorio
            </span>
            <input id="login" class="fadeIn second" required type="text" name="username" required placeholder="Username" [(ngModel)]="usermodel.usuario">

            <br>
            <span *ngIf="f.submitted && f.controls['pass'].errors" class="text-danger animated fadeIn">
                La clave es obligatoria
            </span>
            <input type="password" id="password" class="fadeIn third" name="pass" required placeholder="Password" [(ngModel)]="usermodel.clave">

            <input *ngIf="!ocultarBtnGuardar" type="submit" class="fadeIn fourth" value="INGRESAR">
            <br>
            <div id="formFooter">
             <a class="underlineHover" [routerLink]="['/consulta-publica-ucayali']">Consulta Pública</a>
            </div>
        </form>

        
    </div>
</div>