.styleCustodio {
    margin: 60px;
}

.main {
    display: grid;
    grid-template-columns: 200px repeat(2, 1fr);
    grid-template-areas: "header header header" "aside article article" "footer footer footer";
}

.header,
.footer {
    padding: 2rem 0;
    text-align: center;
    background: #50585B;
}

.header {
    grid-area: header;
    border-radius: 15px;
}

.aside {
    background: #50585B;
    padding: 0 2rem;
    display: flex;
    grid-area: aside;
    height: 750px;
    width: 250px;
    border-radius: 15px;
}

.article {
    grid-area: article;
}

.footer {
    grid-area: footer;
}


/* cabecera */

.cabecera {
    z-index: 1;
    background: #50585B;
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;
}

.cabecera .header-menu {
    width: calc(100% - 0);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.cabecera .header-menu .title {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
}

.cabecera .header-menu .title span {
    color: #4CCEE8;
}

.cabecera .header-menu .sidebar-btn {
    color: #fff;
    /* position:absolute; */
    margin-left: 240px;
    font-size: 22px;
    /* font-weight: 900; */
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
    text-align: right;
}

.cabecera .header-menu .sidebar-btn:hover {
    color: #4CCEE8;
}

.cabecera .header-menu ul {
    display: flex;
}

.cabecera .header-menu ul li a {
    background: #fff;
    color: #000;
    display: block;
    margin: 0 10px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: #fff, color;
}

.cabecera .header-menu ul li a:hover {
    background: #4CCEE8;
    color: #fff;
}


/* Sidebar */


/* .wrapper .sidebar{
    z-index: 1;
    background: #2F323A;
    position: fixed;
    top: 70px;
    width: 250px;
    height: calc(100%-9%);
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
} */

.aside .sidebar .sidebar-menu {
    overflow: hidden;
}

.aside .sidebar .sidebar-menu .profile img {
    margin: 20px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.aside .sidebar .sidebar-menu .profile p {
    color: #bbb;
    font-weight: 700;
    margin-bottom: 10px;
}

.aside .sidebar .sidebar-menu .item {
    width: 250px;
    overflow: hidden;
}

.aside .sidebar .sidebar-menu .item .menu-btn {
    display: block;
    color: #fff;
    position: relative;
    padding: 25px 25px;
    transition: 0.3s;
    transition-property: color;
}

.aside .sidebar .sidebar-menu .item .menu-btn:hover {
    color: #4CCEE8;
}

.aside .sidebar .sidebar-menu .item .menu-btn i {
    margin-right: 20px;
}

.aside .sidebar .sidebar-menu .item .menu-btn .drop-down {
    float: right;
    font-size: 12px;
    margin-top: 3px;
}

.aside .sidebar .sidebar-menu .item .sub-menu {
    background: #3498D8;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    transition-property: #3498D8, max-height;
}

.aside .sidebar .sidebar-menu .item .sub-menu a {
    display: block;
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 15px;
    padding: 20px;
    border-bottom: 1px solid #8FC5E9;
    transition: 0.3s;
    transition-property: #fff;
}

.aside .sidebar .sidebar-menu .item .sub-menu a:hover {
    background: #55B1F0;
}

.aside .sidebar .sidebar-menu .item .sub-menu i {
    padding-right: 20px;
    font-size: 10px;
}

.aside .sidebar .sidebar-menu .item:target .sub-menu i {
    max-height: 500px;
}