
    
        <div class="styleCustodio">
            <br>
            <div class="row">
                <div class="col">
                    <img *ngIf="ocultarLogo" src="./assets/logo_loreto.png" alt="image" style="width: 130px; height: 130px;">
                    <img *ngIf="!ocultarLogo" src="./assets/logo_infractor.png" alt="image" style="width: 130px; height: 130px;">
                </div>
                <div class="col">
                    <span *ngIf="ocultarLogo" class="login100-form-title p-b-51">
                        REGISTRO DE CUSTODIOS DEL PATRIMONIO FORESTAL Y DE FAUNA SILVESTRE DE LORETO
                    </span>
                    <span *ngIf="!ocultarLogo" class="login100-form-title p-b-51">
                        REGISTRO DE CUSTODIOS DEL PATRIMONIO FORESTAL Y DE FAUNA SILVESTRE DE UCAYALI
                    </span>
                </div>
                <div class="col text-right">     
                    <img *ngIf="ocultarLogo" src="./assets/slogan_loreto.png" alt="image" style="width: 250px; height: 100px;">
                    <img *ngIf="!ocultarLogo" src="./assets/logo_ucayali.png" alt="image" style="width: 250px; height: 100px;">
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    <button (click)="cerrarSession()" class="btn btn-secondary" type="button">
                        <i class="fa fa-power"> </i>
                        CERRAR SESIÓN
                    </button>

                </div>
                <hr>

            </div>
            <h2> Listado de Custodios</h2>
            <div class="row">
                <div class="col-md-1">
                    <label class="form_label" style="display: inline-block; width: 100px; margin-top: 8px;">Tipo Custodio</label>
                </div>
                <div class="col-md-3 text-right">
                    <select class="form-control" (change)="onSelectTipoCustodio($event)">
                        <option *ngFor="let tipoCustodio of dominioTipoCustodio" value={{tipoCustodio.codigoDetalle}}>
                            {{tipoCustodio.valorDetalle}}
                        </option>
                    </select>
                </div>
                <div class="col-md-1 text-right" >
                    <label class="form_label" style="display: inline-block; width: 100px; margin-top: 8px;">Titular</label>
                </div>
                <div class="col-md-3 ">
                    <input type="text" [(ngModel)]="filtro" class="form-control" placeholder="Nombre Título Habilitante" style="margin-right: 10px; width:100%">
                </div>
                <div class="col text-right">
                    <button type="button" (click)="reporte()" class="btn btn-info" style="margin-right: 10px;">
                            <i class="fa fa-table"></i>
                            Reporte
                        </button>
                    <button type="button" (click)="buscar()" class="btn btn-success" style="margin-right: 10px;">
                            <i class="fa fa-search"> </i>
                            Buscar
                        </button>
                    <button (click)="nuevoCustodio()" class="btn btn-primary" type="button">
                            <i class="fa fa-plus"> </i>
                            Nuevo
                        </button>
                </div>
            </div>
            <table class="table mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">TIPO TITULAR</th>
                        <th scope="col">TITULAR</th>
                        <th scope="col">NO. DE TÍTULO HABILITANTE</th>
                        <th scope="col">CUSTODIO FORESTAL</th>
                        <th scope="col">CÓDIGO DE CARNÉ DE ACREDITACIÓN</th>
                        <th scope="col">ACTO ADMINISTRATIVO</th>
                        <th scope="col">FECHA DE ACTO ADMINISTRATIVO</th>
                        <th scope="col">ACCIÓN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let titular of titulares ">
                        <td>{{ titular.tipoCustodioDes }}</td>
                        <td>{{ titular.nombreTituloHabilitante }}</td>
                        <td>{{ titular.nroTituloHabilitante }}</td>
                        <td>{{ titular.custodioNombres }}</td>
                        <td>{{ titular.custodioCarne }}</td>
                        <td>{{ titular.custodioActoAdministrativo }}</td>
                        <td>{{ titular.fechaActoReconocimiento | ddMMyyyy }}</td>
                        <td class="row">
                            <!-- [routerLink]="['/mantenimientoinspectores', infractor.infractorId]" -->
                            <button class="btn btn-info mr-1" (click)="verDatosCustodio(titular)"> <i class="fa fa-pencil"></i></button>
                            <button class="btn btn-success mr-1" type="button" (click)="ficha(titular)"> <i class="fa fa-clipboard"></i></button>
                            <button *ngIf="titular.estado == 1" class="btn btn-danger mr-1" type="button" (click)="desactivarRegistro(titular)"> <i class="fa fa-trash"></i></button>
                            <button *ngIf="titular.estado == 0" class="btn btn-primary mr-1" type="button" (click)="activarRegistro(titular)"> <i class="fa fa-check"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <mat-paginator [length]="totalRegistros" [pageSize]="regxpag" hidePageSize showFirstLastButtons (page)="paginar($event)">
            </mat-paginator>
        </div>
    
