<div class="styleCustodio">
    <br>
    <div class="row">
        <div class="col">
            <img src="/assets/logo_infractor.png" alt="image" style="width: 50px; height: 50px;">
        </div>
        <div class="col">
            <span class="login100-form-title p-b-51" >
                 CUSTODIOS
            </span>
        </div>
        <div class="col text-right">
            <button (click)="cerrarSession()" class="btn btn-secondary" type="button">
                <i class="fa fa-power"> </i>
                CERRAR SESIÓN
            </button>
            
        </div>
        <hr>
    
    </div>
    <h2> Listado de Custodios</h2>
        <div class="row">
            <div class="col">
                <input type="text" [(ngModel)]="filtro"  class="form-control" 
    
                 placeholder="Nombre - DNI/RUC" style="margin-right: 10px;">
            </div>
            
            <div class="col text-right">
                <button type="button" (click)="reporte()" class="btn btn-info" style="margin-right: 10px;">
                    <i class="fa fa-table"></i>
                    Reporte
                </button>
                <button type="button" (click)="buscar()" class="btn btn-success" style="margin-right: 10px;">
                    <i class="fa fa-search"> </i>
                    Buscar
                </button>
                <button (click)="nuevoCustodio()" class="btn btn-primary" type="button">
                    <i class="fa fa-plus"> </i>
                    Nuevo
                </button>
            </div>
        </div>
       
    
    
    <table class="table mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">NOMBRE TITULO HABILITANTE</th>
                <th scope="col">NOMBRE DEL TITULAR</th>
                <th scope="col">DNI / RUC</th>
                <th scope="col">ACCIÓN</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let titular of titulares ">
                <td>{{ titular.nombreTituloHabilitante }}</td>
                <td>{{ titular.nombreTitularHabilitante }}</td>
                <td>{{ titular.dniRuc }}</td>
                <!-- <td>{{ custodio.fechaExpiracion | ddMMyyyy }}</td> -->
                <td>
                    <!-- [routerLink]="['/mantenimientoinspectores', infractor.infractorId]" -->
                    <button class="btn btn-info mr-1" (click)="verDatosCustodio(titular)"> <i class="fa fa-pencil"></i></button>
                    <button *ngIf="titular.estado == 1" class="btn btn-danger mr-1" type="button" (click)="desactivarRegistro(titular)"> <i class="fa fa-trash"></i></button>
                    <button *ngIf="titular.estado == 0" class="btn btn-primary mr-1" type="button" (click)="activarRegistro(titular)"> <i class="fa fa-check"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator [length]="totalRegistros" [pageSize]="regxpag" hidePageSize showFirstLastButtons (page)="paginar($event)">
    </mat-paginator>
</div>
